.horizontal-bar-container {
    height: 30px;
    width: auto;

    .bar-title {
        width: 62px;
        height: 30px;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        font-weight: bold;
        color: #40C3B3;
        line-height: 30px;
        float: left;
    }

    .bar-container {
        width: 268px;
        height: 30px;
        float: left;
        position: relative;
        margin-left: 3px;

        .bar-main {
            width: 100%;
            height: 20px;
            background: #D2FBFF;
            opacity: 0.2;
            border-radius: 10px;
            float: left;
            margin-top: 5px;
            position: absolute;
        }

        .bar-main-content {
            position: absolute;
            margin-top: 5px;
            height: 20px;
        }

        .bar-main-bg {
            height: 20px;
            width: 0;
            background: linear-gradient(90deg, #06617F, #14EDAF);
            border-radius: 10px 6px 6px 10px;
            transition: width 1s ease-in;
        }

        .bar-main-bg-fill {
            width: 100%;
        }
    }

    .bar-value {
        font-size: 24px;
        font-weight: bold;
        color: #6AFFD5;
        line-height: 30px;
        float: left;
        margin-left: 10px;
        letter-spacing: 0px;

        span {
            padding-left: 5px;
            margin-right: -4px;
        }
    }
}